.root {
    -ink-black: #0F0E1C;
    -space-indigo: #1e1b4b;
}

.song-name {
    -fx-font-size: 16px;
    -fx-text-overrun: ellipsis;
}

.song-box {
    -fx-text-background-color: white;
    -fx-spacing: 2px;
    -fx-padding: 4px;
}

.player-toolbar {
    -fx-spacing: 4px;
    -fx-padding: 8px;
    -fx-background-color: -ink-black;
}

.progress-box {
    -fx-text-background-color: white;
}

.play-button {
    -fx-padding: 6px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}

.shuffle-button {
    -fx-padding: 4px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.next-button {
    -fx-padding: 4px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.last-button {
    -fx-padding: 4px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.volume-slider {
    -fx-padding: 2px 50px;
}

.list-item {
    -fx-background-color: #0f1020;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.list-item:hover {
    -fx-background-color: #1a1b33;
}

.song-name-label {
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.artist-name-label {
    -fx-text-fill: #c4c7e0;
    -fx-font-size: 13px;
}

.album-name-label {
    -fx-text-fill: #8a8da8;
    -fx-font-size: 12px;
}

.duration-label {
    -fx-text-fill: #c4c7e0;
    -fx-font-size: 14px;
    -fx-font-family: "Consolas", monospace;
}